.slider{
  width: 600px;
  position: relative;
  /* es muy importente agregar la siguiente linea */
  overflow: hidden;
}

.slider .container{
  white-space: nowrap;
}

.slider .container *{
  white-space: normal;
}

.slider img{
  width: 100%;
  display: inline-block;
  margin-right: -4px;
}

